{%  load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>SwitchController</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'Controller/base.css'%}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script>
    function isValidForm(id_button){
      var i = document.getElementById(id_button);
      if( i.value == "ON"){
        var c = window.confirm("Are you sure you want to turn the node OFF?\n\nPlease make sure that no one is using it before turning it down!");
        if (c != true){
          return false;
        }
      }
      return true;
    }

    function goBack(){
      window.history.back();
    }
  </script>

</head>
<body style="background-color:#1111" >
  <div class=container>
    <nav class="navbar navbar-inverse navbar-fixed-top"  style="border-radius:0%;background-color:#1111;border-style: none">
        
        <div class="navbar-header">
          
            <a href="/" class="navbar-brand" style="font-size: 400px;padding-top: 0px"><img src="{% static 'img/it_logo.png' %}" alt="IT 25 Years - logo" style="width:252px; height:90px; border-radius:5%;background-color:#FFFF" width="252" height="90"></a>
        </div>
          <div class="container-fluid">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="{%url 'home' %}"><span class="glyphicon glyphicon-home"></span></a></li>
            {% if user.authenticated %}

              <li><a href="{% url 'notifications' %}"><span id="notification" class="glyphicon glyphicon-bell"></span></a></li>
              <li><a href="{% url 'update' %}"><span class="glyphicon glyphicon-refresh"></span></a></li>
              <li><a href="{% url 'logout'%}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            {% endif %}
          </ul>
            
          </div>

          
          
        
    </nav>
  </div>
  <br>
  <div class="container" style="padding-top: 50px">
    <div>
      {% if failed %}
        <div class ="alert alert-danger" role="alert">
          {{message}}
        </div>
      {% elif success %}
        <div class ="alert alert-success" role="alert">
          {{message}}
        </div>
         
      {% endif %}

    {% block content %} {% endblock %}

    </div>
  </div>

</body>

</html>
