{% extends "Controller/base.html" %}
{% load static %}
{% block content %}
		<div class="row" style="margin-bottom: 10%; min-height: 26vh">
	        <!-- Boxes de Acoes -->
			<div class="box">							
				<div class="icon">
					<div class="image"><img class="fa fa-thumbs-o-up"></div>
					<div class="info">
						<div class ="container">
							<h3 class="title">Welcome to the AMazING Switch Controller!</h3>
				
						{% if user.authenticated%}
							
								<a  class="btn btn-primary" href="{% url 'config' %}">Node Grid</a>
							</div>
							<br>
							<br>
							

						{% else %}
							
								<p style="font-size: 120%">This is a system that allows the AMazING manager to enable or disable the Switch PoE ports, making nodes do turn on or off.</p>
								<a  class="btn btn-primary" href="{% url 'getLogin' %}">Log In</a>
						
							</div>

						{%endif%}
              				
						
							
					</div>
				</div>
				<div class="space"></div>
			
			</div>
		</div>


	
	
	
{% endblock %}