{% extends "Controller/base.html" %}
{% load static %}
{% block content %}

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="{% static '/img/login-user-icon.png' %}" style="width:30%" id="icon" alt="" />
    </div>

    <!-- Login Form -->
    <form action="/login/" method='POST'>
      {%csrf_token%}
      <input type="text" id="username" class="fadeIn second" name="username" placeholder="username" value="">
      <input type="password" id="password" class="fadeIn third" name="password" placeholder="password" value="">
      <input type="submit" class=" btn fadeIn fourth" value="Log In"href= "{% url 'login' %}">
      <br>
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="{% url 'password' %}">Change Password?</a>
    </div>

  </div>
</div>
{% endblock %}