{% extends "Controller/base.html" %}
{% load static %}
{% block content %}
				<div class ="container">				
					<div class ="container" style="margin-top: 1%;min-height: 24vh">
						<div class="slideshow-container">

							<div class="mySlides fadeM">
							  <img src="{% static 'img/grid.png' %}" style="width:100%;">
							  <br>
							  <br>
							  <p style="font-size:20px">Use the grid buttons to enable or disable the switch PoE ports. The button represent the state of the port, which means if it's green and says ON the port is enabled, otherwise it is disabled.</p>
							</div>

							<div class="mySlides fadeM">
							  <img src="{% static 'img/grid_node.png' %}" style="width:100%;">
							  <br>
							  <br>
							  <p style="font-size:20px">If you pass the mouse right through node images you can see it's number and therefore know which node you are trying to turn on or off.</p>
							</div>

							<div class="mySlides fadeM">
							  <img src="{% static 'img/alarm.png' %}" style="width:100%">
							  <br>
							  <br>
							  <p style="font-size:20px"> Nodes are constantly checking hardware conditions, if any alarm it's deployed you will se a notification like this.</p>
							  
							</div>

							<div class="mySlides fadeM">
							  <img src="{% static 'img/info_alert.png' %}" style="width:100%;text-align: center">
							  <br>
							  <br>
							  <p style="font-size:20px"> If you click the bell in the top right corner you will be presented with a view like this. Here you will be able to see the new alarms sent by nodes when their hardware it is not in the best conditions or running properly. You can also filter by date to check all alarm with in an interval.</p>
							  
							</div>

							
							
							<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
							<a class="next" onclick="plusSlides(1)">&#10095;</a>

						</div>
							<br>

						<div style="text-align:center">
						  <span class="dot" onclick="currentSlide(1)"></span> 
						  <span class="dot" onclick="currentSlide(2)"></span> 
						  <span class="dot" onclick="currentSlide(3)"></span>
						  <span class="dot" onclick="currentSlide(4)"></span>  
						</div>
					</div>
				</div>
<script type="text/javascript">
  var slideIndex = 1;
  showSlides(slideIndex);

  function plusSlides(n) {
    showSlides(slideIndex += n);
  }

  function currentSlide(n) {
    showSlides(slideIndex = n);
  }

  function showSlides(n) {
    var i;
    var slides = document.getElementsByClassName("mySlides");
    var dots = document.getElementsByClassName("dot");
    if (n > slides.length) {slideIndex = 1}    
    if (n < 1) {slideIndex = slides.length}
    for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";  
    }
    for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
    }
    slides[slideIndex-1].style.display = "block";  
    dots[slideIndex-1].className += " active";
  }
</script>
{% endblock %}
			
