{% extends "Controller/base.html" %}

{% block content %}
	<div class ="container">
		<form action="/notifications/date/" method="POST">
			{% csrf_token %}
			<div>
				<label for="date1">Initial Date:</label>
				<input style= "margin-left: 1%;margin-right: 5%" name="date1" type=date id="date1">
				<span class="validity"></span>
				<label for="date2">Final Date:</label>
				<input style= "margin-left: 1%;margin-right: 5%" name="date2" type=date id="date2">
				<span class="validity"></span>
				<input class="btn" value="Submit" id="submit_dates" style="background-color:#6495ED;color:#FFFF" href="{% url 'get_alert_date' %}" type="submit">
			
			</div>
			
					
			
		</form>
		<textarea>	
			{% for x in notifications %}
				{{x.0}}
				{{x.1}}
			{% endfor %}
		</textarea>
	</div>
{% endblock %}