{% extends "Controller/base.html" %}

{% block content %}
			<div class ="container" style="text-align: center;margin-top:1%;">
				<form action="/notifications/date/" method="POST">
					{% csrf_token %}
					<div>
						<label for="date1">Initial Date:</label>
						<input style= "margin-left: 1%;margin-right: 5%" name="date1" type=date id="date1">
						
						<label for="date2">Final Date:</label>
						<input style= "margin-left: 1%;margin-right: 5%" name="date2" type=date id="date2">
						
						<input class="btn" value="Submit" id="submit_dates" style="background-color:#6495ED;color:#FFFF" href="{% url 'get_alert_date' %}" type="submit">
					
					</div>
					
							
					
				</form>
				<div class="container" style="text-align:left;min-height: 27vh;background-color: #1111;">	
					<br>
					<br>
					{% for x in notifications %}
						<b>{{x.0}}  ({{x.2}}):</b>
						<br>
						<br>
						{% for y in x.1 %}
							<br>
							{{y}}
							<br>

						{% endfor %}
					
					{% endfor %}
				</div>
			</div>
{% endblock %}