{% extends 'Controller/base.html' %}
{% load static %}
{% block content %}


<div>
	<button class=" btn btn-primary" onclick="goBack()"> < Back </button>
</div>
<div class="wrapper">
	 <div id="formContent">
	    <!-- Tabs Titles -->

	    <!-- Icon -->
	    <div class="fadeIn first">
	      <img src="{% static '/img/login-user-icon.png' %}" style="width:30%" id="icon" alt="" />
	    </div>

	    <!-- Login Form -->
	    <form action="/password/change/" method='POST'>
	      {%csrf_token%}
	     	<p><b>Username:</b></p>
			<input type="text" name ="username" id="username" value="">
			<br>
			<br>
			<p><b>Old Password:</b></p>
			<input type="password" name="old_password" id="old_password">
			<br>
			<br>
			<p><b>New Password:</b></p>
			<input type="password" name = "new_password" id = "new_password">
			<br>
			<br>
			<p><b>Rewrite Password:</b></p>
			<input type="password" name = "rewrite_password" id = "rewrite_password">
			<br>
			<br>
	      <input type="submit" class=" btn fadeIn fourth" value="Submit" href="{% url 'change_pass' %}">
	      <br>
	    </form>


	  </div>
		
</div>	
{% endblock %}