{% extends "Controller/base.html" %}
{% block content %}
	{% if user.authenticated %}
		<div class="container" id ="fillreq" style="text-align:left;min-height: 40vh;background-color: #FFFF;">
			
			<h3 class="title">Pending Requests:</h3>
			{% for user, node in requests.items %}
				{% for id in node %}		
					<div id="form{{id}}" style="background-color: #1111">
						<br>
						<div class="row" style="margin-left: 1%;margin-right: 1%">	
							<div class="col-md-10">
								<p>User {{user}} requested node {{id}} to turn on </p>
							</div>
							<div class="col-md-1">
								<button class="btn" id="2" style="background-color:green;color:#FFFF"  name="{{id}}" value={{user}} >Accept</button>
							</div>
							<div class="col-md-1">	
								<button class="btn" id="1" style="background-color:red;color:#FFFF"  name="{{id}}" value={{user}} >Decline</button>
							</div>
							
						</div>
						<br>
						
					</div>
					<div style="background-color: #FFFF"><br></div>

				{% endfor %}

			{% endfor %}
		</div>


<script type="text/javascript">
	
	$("button").click(function(){
		var id = $(this).attr('name');
		var id_div = "form" + $(this).attr('name').toString();
		
		data= { 
			'id': id,
			'username' : $(this).attr('value'), 
			'value' : $(this).html().toString()};

		console.log(JSON.stringify(data));

		if(data["value"] == "Accept"){
			$.post("/requests/", data ,function (data) {
        		if (data["code"]== 200){
        			data= { 
						'id': id,
						'value' : "OFF"};
        			$.post("/config/", data ,function (data) {
        		
       				});
        		}
       		});
		}
		$("#"+ id_div).remove(); 
    });

   

</script>
	{% else %}

		<div class="row" style="margin-bottom: 10%; min-height: 26vh">
	        <!-- Boxes de Acoes -->
			<div class="box">							
				<div class="icon">
					<div class="image"><img class="fa fa-thumbs-o-up"></div>
					<div class="info">
						<div class ="container">
							<h3 class="title">Welcome to the AMazING Switch Controller!</h3>
							<p style="font-size: 120%">Log In to access requests!</p>
							<a  class="btn btn-primary" href="{% url 'getLogin' %}">Log In</a>
						
						</div>
					</div>
				</div>
			</div>
		</div>


	{% endif %}

{% endblock %}